#wishlist-window{
    padding: 0 60px 0 60px;
}

#wishlist-outer-container {
    display: flex;
    height: 100vh;
}

#wishlist-map-container {
    position: relative;
    right: 0;
    min-width: 570px;
    width: 100%;
    background-color: gray;

}

#wishlist-information-container {
    width:100%
}

@media (max-width:949px) {
    #wishlist-map-container{
        display: none;
    }
}
