#wishlist-window{
    padding: 0 60px 0 60px;
}

#wishlist-outer-container {
    display: flex;
}

/* auto */
#wishlist-map-container {
    background-color: green;
    position: relatice;
    right: 0;
    min-width: 570px;
}

/* fixed */
#wishlist-information-container {
    background-color: red;
    width:100%
}

@media (max-width:949px) {
    #wishlist-map-container{
        display: none;
    }
}
