#wishlist-index-heading {
    font-size: 2.2rem;
    font-weight: 500;
    margin: 2.5rem 0;
    padding-top: .5rem;
}

#wishlist-index-initial-instructions>p:first-child {
    font-size: 1.5rem;
    font-weight: 500;
}
#wishlist-index-initial-instructions>p:last-child {
    color: #717171;
    font-weight: 100;
    margin-top: 1.4rem;
    width: 35rem;
    line-height: 1.5rem;
}

.wishlist-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
    column-gap: 1.5rem;
    row-gap: 3rem;
    max-width: 60rem;
}
