.add-wishlist-photo-container {
    height: 15rem;
    border-radius: 1rem;
    border: .4rem solid white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.13);
    overflow: hidden;
}

.add-wishlist-photo-container>img{
    object-fit: cover;
    height: 100%
}
