#delete-modal {
    position: fixed;
    top: 0rem;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #delete-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(192, 25, 25, 0);
  }

  #delete-modal-content {
    position: absolute;
    background-color:white;
    border-radius: 12px;
    box-shadow: rgba(0,0,0,.28) 0 8px 28px 0;
    /* padding: 1.5rem; */
    max-width: 20rem;
  }
