.spot-header-name {
    font-size: 1.625rem;
}

.spot-header-reviews {
    font-size: 1rem;
    display: inline-flex;
    column-gap: .5rem;
    justify-content: space-between;
}

.spot-header-rating-reviews {
    display: flex;
}
