#spotIndex {
    padding-top: 2rem;
    display: grid;
    column-gap: 2rem;
    row-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.eachspot-content-image-container {
    border-radius: 12px;
    overflow: hidden;
    height: 80%;
}


.eachspot-content-image-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.eachspot-content-description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    margin-top: .8rem;
}

.eachspot-content-rating {
    display: flex;
    column-gap: 0.3rem;
}


.eachspot-content-description-left {
    display: flex;
    flex-direction: column;
    gap: .35rem;
}

.eachspot-content-description-location {
    font-weight: 560;
}

.eachspot-content-description-hosted {
    color: gray;
    font-weight: 350;
}

.eachspot-content-description-price {
    font-weight: bold;
}
