.spot-details-right-top{
    padding: .5rem 0;
    display: flex;
    align-items: center;
}

#right-spot-price{
    font-size: 1.5rem;
}

.spot-details-right-reviews>div:first-child{
    margin-right: .5rem;
}

.booking-calendar-container{
    border: .5px solid black;
    border-radius: .5rem;
    overflow: hidden;
}


.booking-calendar-dates-container{
    display: flex;
    justify-content: space-between;
    border-bottom: .5px solid black;
}
.booking-calendar-dates-container>div{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: .5rem .6rem;
    font-size: .9rem;
}

.booking-calendar-dates-container>div:first-child{
    border-right: .5px solid black;
}
.booking-calendar-dates-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: .4rem;
    position: relative;
}

.booking-calendar-dates-content>div:first-child{
    font-weight: 700;
    font-size: .7rem;
}


.calendar-container{
    position: absolute;
    height: fit-content;
    top: 2rem;
    right: -.5rem;
    width: 42rem;
    border-radius: 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px;
    background-color: white;
    padding: 1.5rem 2rem;
}

.booking-guest-data-container{
    position: relative;
}

.booking-guest-data{
    padding: .5rem .6rem;
}

.booking-guest-data>div:first-child{
    font-weight: 700;
    font-size: .7rem;
}

.booking-guest-carat{
    position: absolute;
    right: 5%;
    top:35%;
}

.reserve-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 0;
}

.reserve-button{
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    color: white;
    display: flex;
    justify-content: center;
    background-image: radial-gradient(circle at center,#FF385C 0%,#E61E4D 27.5%,#E31C5F 40%);
    margin-bottom: 1rem;
}
